<swiper-container
  initial-slide="0"
  slides-per-view="1"
  pagination="true"
  virtual="true"
  class="h-full bg-gradient-to-tr from-[#0060A6] to-[#66A0CA] p-3"
>
  <swiper-slide>
    <app-title-slide></app-title-slide>
  </swiper-slide>
  <swiper-slide>
    <app-contents></app-contents>
  </swiper-slide>
  <swiper-slide>
    <app-about-me></app-about-me>
  </swiper-slide>
  <swiper-slide>
    <app-about-tailwind></app-about-tailwind>
  </swiper-slide>
  <swiper-slide>
    <app-pseudo-classes></app-pseudo-classes>
  </swiper-slide>
  <swiper-slide>
    <app-custom-theme></app-custom-theme>
  </swiper-slide>
</swiper-container>
