<div class="flex h-full flex-row gap-24 p-24">
  <div class="grid align-middle">
    <hgroup class="flex flex-col justify-center gap-24">
      <h1
        class="content-center text-wrap text-9xl font-bold leading-relaxed text-white"
      >
        Thanks for listening!
      </h1>
      <h2 class="text-6xl font-bold text-white">
        Please feel free to reach out with any questions
      </h2>
    </hgroup>

    <div>
      <span class="text-xl font-bold">Credits</span>
      <ul>
        <li>
          Dancing dog GIF:
          <a
            class="underline hover:cursor-pointer hover:text-gray-300"
            href="https://tenor.com/en-GB/view/dancing-dog-gif-13304250"
            Tenor
            >Tenor</a
          >
        </li>
        <li>
          Rocket penguin GIF:
          <a
            class="underline hover:cursor-pointer hover:text-gray-300"
            href="https://tenor.com/en-GB/view/blast-blastoff-blast-off-takeoff-take-off-gif-16562819023754872577"
            >Tenor</a
          >
        </li>
      </ul>
    </div>
  </div>

  <img
    src="https://media.tenor.com/5dr0JgX9xwEAAAAi/blast-blastoff.gif"
    class="h-[900px] w-[900px] self-center"
  />
</div>
