<div class="flex h-full flex-col gap-24 p-24">
  <h1 class="text-wrap text-6xl font-bold">TODO</h1>
  <ul class="grid flex-grow list-disc text-3xl font-bold">
    <li class="line-through">Title</li>
    <li class="line-through">About me</li>
    <li class="line-through">What is Tailwind</li>
    <li>Mindset</li>
    <li>Installation</li>
    <li>Tailwind config</li>
    <li>Customising the theme</li>
    <li>Plugins</li>
    <li>Tailwind basics</li>
    <li class="line-through">Pseudo classes</li>
    <li>Thanks</li>
  </ul>
</div>
